<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!-- DB설정(Connection) -->
   <!-- 
        <typeAliases>
           VO의 별칭
        </typeAliases>
        1) <properties>
        2) <typeAliases>
        3) <transactionManager>
        4) <mappers>
    -->
 <typeAliases>
   <typeAlias type="sist.bean.AdminMemberBean" alias="Amember"/>
   <typeAlias type="sist.bean.ProductBean" alias="Product"/>
   <typeAlias type="sist.bean.MemberBean" alias="Cmember"/>
   <typeAlias type="sist.bean.cartBean" alias="cart"/>
   <typeAlias type="sist.bean.cartListBean" alias="cartList"/>
 </typeAliases>
    <!-- DB연동 -->
    <environments default="development">
      <environment id="development">
      
        <transactionManager type="JDBC"/>
        <!-- 
             type(JDBC,JTA)
             = JDBC
               : 이 설정은 간단하게 
                 JDBC 커밋과 롤백을 처리하기 위해 사용
                 커넥션 객체을 DataSource로부터 가지고 와서
                 사용(일반적 사용)
             = MANAGED : 어떤 설정도 하지않는다.
                         대신에 컨테이너가 모든
                         트랜잭션을 관리
         -->
        <dataSource type="POOLED">
        <!-- 
             type (SIMPLE,DBCP,JNDI)
             = UNPOOLED : 매번 요청시마다 커넥션을 
                          열고 닫고하는 간단한 DataSource
                          
             = POOLED : (DBCP) : 매번 연결하지 않고 
                        Connection객체를 유지
             = JNDI : 미리 설정되어 있는 Connection을 사용
         -->
         <property name="driver" 
            value="oracle.jdbc.driver.OracleDriver"/>
         <property name="url" 
            value="jdbc:oracle:thin:@localhost:1521:orcl"/>
         <property name="username" value="cart"/>
         <property name="password" value="cart"/>
        </dataSource>
        <!-- 
           Connection conn=ds.getConnection();
         -->
      </environment>
    </environments>
    <mappers>
      <mapper resource="sist/dao/Cart.xml"/>
    </mappers>
</configuration>






