.login__header {
  background-color: #323232;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  color: #fff;
  padding: 1.5em;
  text-align: center;
  text-transform: uppercase;
}
.login__title {
  font-size: 23px;
  margin: 0;
}
.login__body {
  background-color: #fff;
  padding: 2em;
  position: relative;
}
.login__body::before {
  background-color: #fff;
  content: '';
  height: 0.5em;
  left: 50%;
  margin-left: -0.25em;
  margin-top: -0.25em;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 0.5em;
}
.login__body input{
	font-size: 15px;
	width:300px;
	height:40px;
}

